.info {
    color: green;
    background: lightgray;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
  
.error {
  
    color: red;
    background: lightgray;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  
  
}

.button2 {

    background-color: rgb(98, 196, 241);
}